# Requirements for BERT Embedding Service
streamlit==1.12.0       # Streamlit for building the dashboard
transformers==4.11.3    # Hugging Face Transformers for BERT
torch==1.10.0           # PyTorch for running BERT
numpy==1.21.2           # For handling embeddings
pandas==1.3.3           # For data manipulation
altair==4.1.0           # For data visualization
plotly==5.3.1           # For interactive plots
wordcloud==1.8.1        # For generating word clouds
Pillow==8.4.0           # For image processing
